
<div align="center">
<h1>Display Bookmarks</h1>

<table>
  
<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= link_to bookmark.name, bookmark %></td> 
    
  </tr>
<% end %>

</table>

</div>
<br />

<%= link_to 'Add Bookmark', new_bookmark_path %>
